.heading {
  margin-left: '10rem';
}

#upload-form {
  max-width: 75%;
  padding: 0 28px;
  margin: 16vh auto;
  display: flex;
}

.page {
  display: flex;
}

.form-button {
  background-color: #00ace6;
  color: white;
  padding: 1.4vh 2vh;
  margin: 0.8vh 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 2vh;
}

#up-report-type {
  margin: 4vh;
}

#upld-type-label {
  margin: 4vh;
  width: 100%;
}
